<%-include('partials/global/navbar')%>
    <div id="layoutSidenav">
        <%-include('partials/global/sidebar')%>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <h1>Welcome to Your Dashboard (In Development....)</h1>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        Featured Content 1
                                    </div>
                                    <div class="card-body">
                                        <p>This could be some important information or a featured widget.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-header">
                                        Featured Content 2
                                    </div>
                                    <div class="card-body">
                                        <p>This could be another important piece of information or a different featured widget.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                


            </div>

    </div>